{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="landing-section row h-px-300 align-items-center justify-content-between position-relative" style="margin-bottom:100px;">
		<div class="col-md-6 col-sm-10">
			<h2 style="font-size:3em;" class="my-0">ESTS:</h2>
			<h1 class="text-xl my-0 fw-bold w-sm-50 mt-0 " style="font-size:4.5rem">
				CLUB DU
				<br>
				SPORTS</h1>
			<p class="fs-6">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi veritatis totam fuga fugit officia consequuntur temporibus. Saepe sunt velit cumque!</p>
		
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{path('app_dashboard')}}" class="btn btn-primary px-5 py-2 border-lg text-center">Dashboard</a>
		{% endif %}
		
		</div>
		<div class="position-absolute start-100 col-sm-5 col-md-7 top-50 end-0 translate-middle z-0 ball">
			<img src="{{asset('build/images/basket.03742b5bd44ee1943696c421492ef4a5.png')}}" alt="basket" width="360px" height="360px">
		</div>
	</div>

	<div class="row my-5 justify-content-center gap-5">
		<div class="card  col-sm-8 col-md-3 rounded-4 position-relative z-0" style="min-height:350px; overflow: hidden">
			<div class="card-body">
				<div class="col-12">
					<img src="{{asset('build/images/cible.2301f272c1346966af5174ff68e01286.png')}}" alt="cible" class="position-absolute" style="bottom:-100px; right:-100px" width="300px" height="300px">
					<h2 class="card-title mt-3">OBJECTIF</h2>
					<p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, iste!</p>
				</div>
			</div>
		</div>

		<div class="card  col-sm-8 col-md-3 rounded-4 position-relative z-0" style="min-height:350px; overflow: hidden">
			<div class="card-body">
				<div class="col-12">
					<img src="{{asset('build/images/basket.03742b5bd44ee1943696c421492ef4a5.png')}}" alt="cible" class="position-absolute" style="bottom:-100px; right:-100px" width="250px" height="250px">
					<h2 class="card-title mt-3">ACTIVITIES</h2>
					<p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, iste!</p>
				</div>
			</div>
		</div>

		<div class="card  col-sm-8 col-md-3 rounded-4 position-relative z-0" style="min-height:350px; overflow: hidden">
			<div class="card-body">
				<div class="col-12">
					<img src="{{asset('build/images/trophy.23a5624655ec8df8534fc8ae51feccb8.png')}}" alt="cible" class="position-absolute" style="bottom:-100px; right:-120px" width="350px" height="350px">
					<h2 class="card-title mt-3">{{'Compétitions'|upper}}</h2>
					<p class="card-text ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, iste!</p>
				</div>
			</div>
		</div>
		<div class="col-12 position-relative mt-5 justify-content-center align-items-center text-center">
			<h2>Ce que vous pensez?</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, ad!</p>
			<a href="/reclamation" class="btn px-5 py-2 btn-primary rounded-5 shadow">Ajouter reclamation</a>
		</div>
	
	{% endblock %}
