{% extends 'base.html.twig' %}
{% block styles %}
	<style>
		body::after {
			content: none !important;
		}
	</style>
{% endblock %}
{% block title %}editer Reclamation
{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
	<div class="alert alert-info col-12 col-md-6 col-lg-6 text-center shadow position-fixed start-50 translate-middle-x" style="top:70px" role="alert">
		<strong>{{message}}</strong>
	</div>
{% endfor %}
	<div class="container">
		<div class="d-flex align-items-center ">
			{% if utilisateur.sexe == "F" %}
				<img src="{{asset('/build/images/female.b230c6621b93f3f9a6e53e4b1be898f7.jpg')}}" class="rounded-circle" alt="avatar" width="100" height="100">
			{% else %}
				<img src="{{asset('/build/images/male.c1491bb6860c1d32f6304ce3f1958c05.jpg')}}" class="rounded-circle" alt="avatar" width="100" height="100">
			{% endif %}
			<div class="d-flex flex-column mx-3">
				<h3 class="fw-bold my-0">{{utilisateur.nom|upper}}
					{{utilisateur.prenom}}</h3>
				<h3>@{{utilisateur.pseudoNom}}</h3>
			</div>

		</div>
		<hr>
		<div class="p-2">
			<p class="text-muted">{{reclamation.dateReclamation | date("Y-m-d")}}</p>
			<div class="col-md-8 col-lg-6 col-sm-10">
				{{ form_start(form) }}

				{{ form_widget(form) }}

				<button class="btn px-5 mt-3 py-2 btn-primary rounded-5 shadow">Editer</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
		{% block scripts %}
			<script>
				setTimeout(() => {
$(".alert").remove();
}, 7000);
			</script>
		{% endblock %}
{% endblock %}
